<!DOCTYPE html>
<html>
    <head>

    
    <title>
        Headings
    </title>

</head>
<body>

        <h1>These are lists.</h1>
        <h2> An Ordered List:</h2>
        <ol>
            <li>
                First Item
            </li>
            <li>
                Second Item
            </li>
            <li>
                Third Item
            </li>

        </ol>
        <h2>An Unordered List:</h2>
        <ul>
            <li>
                First Item
            </li>
            <li>
                Second Item
            </li>
            <li>
                Third Item
            </li>
        </ul>


</body>
    
</html>